$image-path: '../images/';
$font-path: '../fonts/';
$hogwarts-boats: url($image-path + 'hogwarts-boats.jpg');
$hogwarts-gray: #100E1B;
$hogwarts-gold: rgb(100,100,0);
$subtle-background: url($image-path + 'subtle-noise.png');
$default-radius: 5px;
$large-radius: 20px;
@font-face {
  font-family: Potter;
  src: url($font-path + 'HARRYP__.TTF');
}

html, body {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100vw;
  background: $hogwarts-gray $hogwarts-boats no-repeat fixed center center;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 700px;
  border: 6px solid black;
  border-radius: $default-radius;
  box-shadow: 10px 10px 50px white;
  overflow: hidden;

  .startBtn {
    padding: 20px;
    font-family: Potter;
    background: black;
    color: $hogwarts-gold;
    font-size: 40px;
    border: 3px solid $hogwarts-gold;
    border-radius: $large-radius;
    cursor: pointer;
    outline-style: none;
  }

  .typing, .dialog {
    display: none;
    padding: 20px;
    font-family: Arial;
    background: black;
    color: $hogwarts-gold;
    font-size: 30px;
    border: 3px solid $hogwarts-gold;
    border-radius: $large-radius;
    outline-style: none;
  }
}
