

$gryffindor-red: #ae2825;
$gryffindor-gold: #D8B33B;
$nav-resting-grey: #e6e7e8;
$hogwarts-gray: #100E1B;

#login-page {

    * {
        margin: 0;
        padding: 0;
    }

    a {
        color: #666;
        text-decoration: none;
    }

    a:hover {
        color: $gryffindor-red;
    }

    input {
        font: 16px/26px "Raleway", sans-serif;
    }

    .form-wrap {
        background-color: #fff;
        width: 320px;
        margin: 3em auto;
        box-shadow: 0 0 12px #fff;

        .input {
            box-sizing: border-box;
            color: inherit;
            font-family: "Raleway";
            padding: 0.8em 0 10px 0.8em;
            border: 1px solid #CFCFCF;
            outline: 0;
            display: inline-block;
            margin: 0 0 0.8em;
            padding-right: 2em;
            width: 100%;
        }

        .button {
            width: 100%;
            padding: 0.8em 0 10px 0.8em;
            background-color: $gryffindor-gold;
            border: none;
            color: #fff;
            cursor: pointer;
            text-transform: uppercase;

            &:hover {
                background-color: $gryffindor-red;
            }
        }
    }

    .form-wrap .tabs {
        overflow: hidden;
    }

    .form-wrap .tabs h3 {
        font-family: "Raleway";
        float: left;
        width: 50%;
    }

    .form-wrap .tabs h3 a {
        padding: 0.5em 0;
        text-align: center;
        font-weight: 400;
        background-color: $nav-resting-grey;
        display: block;
        color: #666;
    }

    .form-wrap .tabs h3 a.active {
        background-color: #fff;
    }

    .form-wrap .tabs-content {
        padding: 1.5em;
        padding-bottom: .5em;
    }

    .form-wrap .tabs-content div[id$="tab-content"] {
        display: none;
    }

    .form-wrap .tabs-content .active {
        display: block !important;
    }

    .form-wrap .snitch-container {
        margin-top: 0.2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}
