@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$gryffindor-red: #941B08;
$gryffindor-gold: #D8B33B;
$nav-resting-grey: #e6e7e8;



.nav-bar {

  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: $nav-resting-grey;
  display: flex;
  align-items: center;


    a {
      color: #666;
      text-decoration: none;
    }

    .nav-icon {
      z-index: 3;
      position: fixed;
      right: 0;
      // display: none;

  
    }

      ul {
        list-style: none;
        display: flex;
        position: relative;
        width: 100%;
        box-shadow: 0 0 20px #fff;

          li {
            text-align: center;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            padding: 0.2em 0 0.2em 0;
            transition: ease-in-out;


            width: calc(100%/5);
            float: left;
             &:hover {
               background-color: #fff;
               font-size: 20px;
             }
             &:hover a {
               color: $gryffindor-gold;
             }
          }

      }

}
