
  $gryffindor-red: #ae2825;
  $gryffindor-gold: #D8B33B;
  $nav-resting-grey: #e6e7e8;
  $hogwarts-gray: #100E1B;


  #profile-page {


      a {
          color: #666;
          text-decoration: none;
      }

      a:hover {
          color: $gryffindor-red;
      }

      input {
          font: 16px/26px "Raleway", sans-serif;
      }

      .profile-wrap {
          background-color: #fff;
          width: 70%;
          margin: 3em auto;
          box-shadow: 0 0 12px #fff;

      }

      .profile-wrap .tabs {
          overflow: hidden;
      }

      .profile-wrap .tabs h3 {
          font-family: "Raleway";
          float: left;
          width: calc(100%/3);
      }

      .profile-wrap .tabs h3 a {
          padding: 0.5em 0;
          text-align: center;
          font-weight: 400;
          background-color: $nav-resting-grey;
          display: block;
          color: #666;
      }

      .profile-wrap .tabs h3 a.active {
          background-color: #fff;
      }

      .profile-wrap .tabs-content {
          padding: 1.5em;
          height: 60vh;
          position: relative;
          font-family: "Raleway"

      }

      .profile-wrap .tabs-content div[id$="tab-content"] {
          display: none;
      }

      .profile-wrap .tabs-content .active {
          display: block !important;
      }


      #profile-tab-content {


        img.house-crest {
          float: right;
          width: 250px;
          padding: 10px;
          // background-color: #121d3d;
          background-color: $nav-resting-grey;
          border: 1px solid #CFCFCF;
          border-radius: 5px;

        }
      }
      }

      #game-stats-tab-content {

      }

      #account-tab-content {

      }
