%section#login-page
  .form-wrap
    .tabs
      %h3.signup-tab
        %a.active{:id =>"signup-tab-content"} Sign Up
      %h3.login-tab
        %a{:id => "login-tab-content"} Login
    .tabs-content
      #signup-tab-content.active
        .signup-form
          =form_for(@user) do |f|
            =f.text_field :name, class: "input", placeholder: "Name"
            =f.email_field :email, class: "input", placeholder: "Email"
            -# =f.select_tag( :house, options_for_select([['Gryffindor', 'gryffindor_crest'], ['Ravenclaw', 'ravenclaw_crest']]))
            =f.password_field :password, class: "input", placeholder: "Password"
            =f.submit "Sign Up", class: "button"
          .snitch-container
            %img.snitch{:src => asset_path("golden_snitch.gif")}
      #login-tab-content
        .login-form
          =form_for(:session, url: login_path) do |f|
            =f.email_field :email, class: "input", placeholder: "Email"
            =f.password_field :password, class: "input", placeholder: "Password"
            =f.submit "Login", class: "button"
        .snitch-container
          %img.snitch{:src => asset_path("golden_snitch.gif")}

=javascript_include_tag "vendor.min"
=javascript_include_tag "login"
