!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %meta(content="width=device-width, initial-scale=1" name="viewport")
    %title Harry Potter Quest
    %link(rel="shortcut icon" href="../../assets/images/favicon.ico" type="image/x-icon")
    %link(rel="icon" href="../../assets/images/favicon.ico" type="image/x-icon")
    %link(rel="stylesheet" href="../../assets/stylesheets/main.min.css")
  %body
    %main
      %section
        .game-container
          %header.menu
          %button(class='startBtn') Play Game
          .typing
          .dialog Answer
        %canvas#game-canvas(width='700' height='500')
        %img.full-background(src='../../assets/images/background-sprite.png')

    %script(src="../../assets/javascripts/vendor.min.js")
    %script(src="../../assets/javascripts/game.js")
