-# !!! 5
-# %html(lang='en')
-#   %head
-#     %meta(charset='UTF-8')
-#     %meta(content="width=device-width, initial-scale=1" name="viewport")
-#     %title Harry Potter Quest
%body
  %audio#potter-theme(loop autoplay src = "#{asset_path "pottertheme.mp3"}")
  %main
    %section.game-page
      .game-container
        %header.menu
          %ul.options
            %li.fileOption.option
              File
              %ul.fileOptions
                %li.save Save
                %li.restore Restore
            %li.invOption.option Inventory
            %li.scoreOption.option
              Score:
              %span.score 0
              &nbsp;of 20
            %li.timeOption.option Time:
        %button(class='startBtn') Play Game
        .typing
        .dialog Answer
        .inventory
      .save-game-form
        =form_for(@game) do |f|
          =f.text_field :user_id, class: "saveUserId", value: 1
          =f.text_field :scene, class: "saveScene", value: 'init'
          =f.text_field :inventory, class: "saveInventory", value: ''
          =f.text_field :score, class: "saveScore", value: 0
          =f.text_field :time, class: "saveTime", value: 0
          =f.submit "Save Game", class: "saveBtn"


  =javascript_include_tag "vendor.min"
  =javascript_include_tag "game"
