%header.nav-bar
  %ul
    %li.option= link_to "Profile", current_user
    %li.option= link_to "Game", game_path
    %li.option= link_to "Leaderboard", leaderboard_path
    %li.option Contribute
    %li.option= link_to "Logout", logout_path, method: :delete
    %li.show-hide
      .nav-icon
        %a{:href => "/"}
          %i.material-icons menu
